.form {
  padding: 20px;
}
.formContainer {
  display: flex;
  padding: 15px;
  width: 50%;
  margin: auto;
  /* align-items: center; */
  /* background-color: aquamarine; */
  border: 2px solid #5fa089;
  flex-direction: column;
}

.formContainer label {
  margin-bottom: 10px;
}
.formContainer input {
  /* width: 50%; */
  padding: 10px;
  margin-bottom: 10px;
}
.formContainer button {
  /* width: 50%; */
  padding: 10px;
  background-color: #5fa089;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.formContainer button:hover {
  background-color: #5f82a0;
}

.formContainer span {
  color: red;
  margin-bottom: 10px;
}
