.pagination {
  padding: 30px 50px;
}

.pagination button {
  cursor: pointer;
  margin: 30px;
  background-color: #5fa089;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  transition: 0.5s ease-in;
}

.pagination button:hover {
  background-color: #5fa0829e;
}
